.footer-container {
    background-color: #222222;
    color:#888888;
}
.social h3{
    margin-right: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.social h3:hover {
    color: white;
}
.links li {
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
}
.links li:hover {
    color: white;
}
